#
# Status Bar:
#
# Read `man 5 sway-bar` for more information about this section.
bar {
    swaybar_command swaybar
    status_command i3blocks
    separator_symbol |
    binding_mode_indicator yes
    position top
    colors {
        statusline #808080
        background #323232
        inactive_workspace #474747 #474747 #bababa
        focused_workspace #bababa #bababa #474747
    }

    # Tray
    tray_output all
}
